/* 历史记录布局 */
.lt_main .lt_history {
  padding: 10px;
}
.lt_main .lt_history .title {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #666;
}
.lt_main .lt_history .content {
  border: 1px dashed red;
}
.lt_main .lt_history .content li {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-bottom: 1px dashed red;
}
.lt_main .lt_history .content li:last-child {
  border-bottom: none;
}
.lt_main .lt_history .content li a {
  padding-left: 10px;
}
.lt_main .lt_history .content li .mui-icon-closeempty {
  line-height: 30px;
}