/* 重置一些特定样式 */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bdc {
  background-color: #222D32;
}

.marg_160 {
  margin-top: 160px;
}

.panel .panel-title {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}

.aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;
  background-color: #222D32;
}
.aside .brand a {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}
.aside .user img {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
}
.aside .user {
  padding: 25px 0;
}
.aside .user p {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.aside .nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  border-left: 3px solid transparent;
}
.aside .nav li a.active {
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}
.aside .nav li a span {
  margin-left: 5px;
}
.aside .nav li .child {
  display: none;
}
.aside .nav li .child a {
  padding-left: 60px;
}